@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Laila", serif;
  }
}

@layer components {
  .icons {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px;
  }
  .btn {
    border-radius: 5px;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: white;
  }
  .w-margin {
    max-width: 1200px;
    margin: auto;
  }
  .I-image {
    position: absolute;
  }
  .font-laila {
    font-family: "Laila", serif;
  }
 .navbar-active{
    @apply opacity-30 z-30;
 } 
 .small-header{
    @apply my-10 text-xl font-laila font-semibold text-primary;
 }
 .large-header{
    @apply mb-8 text-5xl font-bold font-laila text-[#173648];
 }
 .paragraph{
    @apply  mb-8 text-base text-[#555555] ;
 }
 .gloves-div{
    @apply flex flex-col justify-center items-center w-52;
 }
}
